.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  overflow: hidden;
  background-color: #0f9cfc; /*primary colour*/
  padding: 10px 10px;
}

.containerRight {
  display: flex;
  align-items: center;
}

.containerRight a {
  text-decoration: none;
  color: black;
  padding: 12px;
  font-size: 18px;
}

.logo {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 24px;
  padding-left: 20px;
}

.currentpage {
  text-decoration: underline;
  text-decoration-color: black;
}

.containerRight a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
